*{
    box-sizing: border-box;
}
body{
    background-color:hsl(30, 38%, 92%);
}
.main-content{
    display:
    flex;
    font-size:14px;
    font-family:
    'Montserrat', sans-serif;
    font-weight:400;
    margin:50px auto;
}
.column{
    flex:50%;
}
#visible-m{
    border-radius:12px 0 0 12px;
}
.img-responsive{
    width:100%;
}
#text-info{
    background-color: white;
    border-radius:0 12px 12px 0;
}
#text-info p,#pricetable{
    margin:0px;
    padding:20px 15px;
}
#heading{
    letter-spacing: 7px;
}
#name{
    font-family: 'Fraunces', serif;
    font-weight:700;
    font-size:3em;
}
#pricetable{
    width:50%;
}
#price{
    width:45%;
    font-family: 'Fraunces', serif;
    font-size:2.8em;
    color:hsl(158, 36%, 37%);
}
button{
    background-color:hsl(158, 36%, 37%);
    width:100%;
    color:white;
    font-size:1.1em;
    font-weight: 700;
    height:35px;
    border-radius: 7px;
    border-style: hidden;
}
.attribution{
    clear:both;
}
@media(min-width: 992px){
    .main-content{
        width:700px;
        height:525px;
    }
    #visible-s{
        visibility: hidden;
        display:none;
    }
    button:hover{
        cursor: pointer;
        background-color: hsl(158, 44%, 27%);
    }
}
@media(max-width: 991px) and (min-width:768px){
    .main-content{        
        width:600px;
        height:450px;
    }
    #visible-s{
        visibility: hidden;
        display:none;
    }
    #text-info p,#pricetable{
        margin:0px;
        padding:16px 12px;
    }
    #name{
        font-size: 2.5em;
    }
    #price{
        font-size:2.1em;
    }
}
@media(max-width:767px){
    .main-content{
        display:block;
        width:100%;
    }
    .column{
        width:100%;
        display:block;
    }
    #visible-m{
        visibility: hidden;
        display:none;
    }
    #visible-s{
        border-radius: 12px 12px 0 0;
    }
    #text-info{
        border-radius: 0 0 12px 12px;
        margin-top:-3px;

    }
    #text-info p,#pricetable{
        padding:25px 30px; 
    }
    #pricetable{
        padding-bottom:15px;
    }
    #text-info .btn{
        padding-top:5px;
    }
    button{
        height:50px;
        font-size:1.2em;
    }
}